.Console{
    background-color: #FFFF00;
    border: 1px solid #0000;
    color:  orangered;
    width: 240Px;
    height: 438px;
}
.Controle{
    background-color: #FFFF00;
    border: 1px solid #0000;
    color:  orangered;
    width: 240Px;
    height: 438px;
}
.Fonte{
    background-color: #FFFF00;
    border: 1px solid #0000;
    color:  orangered;
    width: 240Px;
    height: 438px;
}
.Nintendo_Switch{
    background-color: #FFFF00;
    border: 1px solid #0000;
    color:  orangered;
    width: 240Px;
    height: 438px;
}
.Fone{
    background-color: #FFFF00;
    border: 1px solid #0000;
    color:  orangered;
    width: 240Px;
    height: 438px;
}